* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #292929;
  font-family: 'Montserrat', sans-serif;
}

.title {
  color: #ffa71a;
  text-align: center;
  font-size: 25px;
  text-shadow: 2px 2px black;
  padding-top: 25px;
  padding-bottom: 10px;
}

.location-form {
  text-align: center;
}

input[type='text'] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #ffa71a;
  width: 19%;
  padding-bottom: 4px;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
  outline: none;
}

input[type='submit'] {
  border: 0;
  padding: 8px 20px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffa71a;
}

input[type='submit']:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.form-div p {
  text-align: center;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

.hidden {
  display: none;
}

.weather-tile {
  position: relative;
  width: 300px;
  height: 225px;
  text-align: center;

  color: white;
  background-image: linear-gradient(135deg, #393e46, #222831);

  border-radius: 15px;
  padding: 30px;
  margin: auto;
  margin-bottom: 30px;

  text-shadow: 2px 2px black;
  box-shadow: 10px 5px 5px black;
}

.weather-tile .material-icons {
  display: inline-flex;
  vertical-align: middle;
  padding: 0 5px 5px 0;
}

.date-info {
  position: absolute;
  top: 15px;
  left: 15px;
  text-align: left;
  color: white;
  font-size: 25px;
}

.weather-info {
  text-align: center;
  padding-top: 50px;
}

.weather-temp p {
  font-size: 50px;
  color: #ffa71a;
  padding-bottom: 5px;
}

.weather-condition {
  letter-spacing: 2px;
  font-size: 20px;
  text-transform: capitalize;
}

.color-text {
  color: #ffa71a;
}

.forecast-tile {
  position: relative;
  width: 650px;
  height: 190px;
  text-align: center;

  color: white;
  background-color: #222831;

  border-radius: 15px;
  margin: auto;
  padding: 30px;

  text-shadow: 2px 2px black;
  box-shadow: 10px 5px 5px black;
  display: flex;
}

.day2,
.day3,
.day4 {
  width: 33%;
}

.forecast-date-info {
  font-size: 24px;
}

.forecast-weather-temp {
  padding-bottom: 10px;
}

.forecast-weather-temp p {
  font-size: 30px;
}

.forecast-condition {
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: normal;
  font-family: inherit;
  text-transform: capitalize;
}
